<div class="container">
    <div class="row m-2 p-4">
        <div class="col">
            <div class="card bg-light mb-3 border-dark">
                <div class="card-header bg-warning text-white">Book's info</div>
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">{{book.name}} - {{book.ISBN}} - {{book.DateOfRelease}}</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam blanditiis
                        repellendus temporibus enim totam vel incidunt adipisci. Cum amet impedit architecto autem
                        tenetur soluta repudiandae officia? Incidunt, veniam. Unde, vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>