<div class="container mt-4">
    <div class="row p-4 m-2">
        <h1 class="text-warning">Library</h1>
    </div>
    <div class="row justify-content-center">
        <nav>
            <a class="btn btn-dark mx-2" routerLink="user-add" routerLinkActive="activebutton">Add User</a>
            <a class="btn btn-dark mx-2" routerLink="user-list" routerLinkActive="activebutton">User List</a>
            <a class="btn btn-dark mx-2" routerLink="add-book" routerLinkActive="activebutton">Add book</a>
            <a class="btn btn-dark" routerLink="book-list" routerLinkActive="activebutton">Book list</a>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>