html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-background {
    background: linear-gradient(to right, #0f0c299c, #302b638a, #24243e71);
}

.button:hover {
    cursor: pointer;
}
